<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="!logged" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink='/login' routerLinkActive="router-link-active" >Login</a>
        </li>
        <li *ngIf="logged"  class="nav-item">
          <a class="nav-link active" (click)="logout()" aria-current="page"  >LogOut</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link"  routerLink='/chat' routerLinkActive="router-link-active" >chat</a>
        </li>
     
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">opt</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{user.userId}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td *ngIf="! authUser.userId != user.userId"><button (click)="goChat(user.userId)" class="btn btn-secondary">Chat</button></td>
      </tr>

    </tbody>
  </table>







</div>

<router-outlet></router-outlet>